@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    
}
a {
  all: unset;
  cursor: pointer;
}
/* navbar1 */
#navLink .nav-link:hover{
    color: white;
}
.btnDaftar{
    color: white;
    background-color: #A3A66A;
    padding-inline: 1em;
    padding-block: 0.4em;
    border: solid;
    border-color: #A3A66A;
    border-radius: 5px;
}
.btnDaftar:hover{

}
/* landing Page */
#highlightText {
    color:  rgb(33, 198, 159) !important;

}
.btn1{
    padding-inline: 2em;
    padding-block: 0.5em;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(33, 198, 159);
    background-color: transparent;
    color: rgb(33, 198, 159);
    margin-block: 1em;
    transition-duration: 0.3s;
}
.btn1:hover{
    background-color: rgb(33, 198, 159);
    color: white;
    border-color: white;

}

.illus{
    width: 8em;
}
#bannerImg{
    width: 100%;
    display: block;
}
#sideIcon{
    width: 1em;
    height: 1em;
}
#modulPreview{
    background-color: #f9f9f9;
}
.footer1 img{
    width: 2em;
    height: 2em;
}
.footer1{
    column-gap: 2em;
}


/* Login */
#bodyLogin{
    background-color: #c9d6ff;
    background: linear-gradient(to right, rgb(226, 226, 226), rgb(174, 250, 232));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container1{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
.container1 p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container1 span{
    font-size: 12px;
}

.container1 a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container1 button{
    background-color: rgb(33, 198, 159);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container1 button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container1 form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container1 input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container1.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container1.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container1.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: rgb(33, 198, 159);
    height: 100%;
    background: linear-gradient(to right, rgb(181, 228, 217), rgb(33, 198, 159));
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container1.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container1.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container1.active .toggle-right{
    transform: translateX(200%);
}
/* navbar2 */
.profile-pic{
    display: inline-block;
    vertical-align: middle;
     width: 30px;
     height: 30px;
     overflow: hidden;
    border-radius: 50%;
 }
 .profile-pic img{
    width: 100%;
    height: auto;
    object-fit: cover;
 }
 .profile-menu .dropdown-menu {
    right: 0;
    left: unset;
  }
  .profile-menu .bell-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.profile-menu .bi-bell {
    font-size: 1.5rem; /* Adjust the size as needed */
}
/* myCourse */
.sorting button{
    display: inline-block;
    padding: 0.3em 0em;
    padding-inline: 0.5em;
    width: fit-content;
}
.dropdown-menu{
    min-width: 250px
}
#filters .dropdown-menu li{
    text-align: start;
    padding-left: 1em;
    padding-block: 0.4em;
    margin-bottom: 0.4em;
    white-space: nowrap;
    transition: 0.1s;
}
#filters .dropdown-menu li:hover{
    background-color: rgb(33, 198, 159);
    color: white;
}
#resetbtn{
    border: 0;
    background-color: transparent;
}
.searchbar{
    padding: 0.3em 0em;
    padding-inline: 0.5em;
    border: solid;
}
.card img{
    max-width: 40%;
    height: auto;
}
#sidebar{
    position: sticky;
    max-height: 100vh;
}
.flex-grow-1{
    margin-top: 450px;
}
.sidemenu{
    cursor: pointer;
}
.modul .card{
    font-size: 0.8em;
    transition: all 0.2s;
    border: 2px solid transparent;
}
.modul .card:hover{
    border: 2px solid transparent;
    border-color: rgb(33, 198, 159);
    cursor: pointer;
}

/* modul */
#mask{
    width: 100px; 
    height: 100px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
#headmodul{
    margin-left: 60px;
}
.penugasan{
    padding-top: 1.5em;
    padding-left: 1.5em;
    background-color: #dcdcdc;
    border-radius: 10px;
}
.isi section{
    margin-top: 2em;
}
.isi h5 {
    font-size: 1.2em;
}
.isi{
    font-size: 0.9em;
    letter-spacing: 0.4px;
}
.isi section ul,ol{
    padding-left: 2em;
    line-height: 2em;
}
#course-side-bar{
    margin-top: 1em;
    font-size: 0.8em;
    font-weight: lighter;
    line-height: 2em;
}
.isi img{
    max-width: 600px;
}
.note{
    border-style: solid;
    border-color: rgb(33, 198, 159);
    border-radius: 5px;
    border-width: 0px 0px 0px 5px;
    background-color: #f0f0f0;
}
.isi #nextPage{
    color: rgb(33, 198, 159);
    text-decoration: none;
}
.isi a{
    color: #0000EE;
    text-decoration: underline;
}
.isi a:hover{
    color: rgb(33, 198, 159);
    text-decoration: none;
}